@import url("tables.css");
@import url("typography.css");

body {
    color: rgb(85, 85, 85);
    background-color: whitesmoke;
    text-align: center;
}
#page {
    width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(172, 198, 244);
    background-color: rgba(244, 251, 255, 0.479);
    padding: 20px;
}
h3 {
    color: rgb(82, 120, 192);
}