table {
    border-spacing: 0px;

}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
}

th, td {
    color: rgb(93, 93, 93);
    text-align: left;
    background-color: white;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1px solid whitesmoke;
}

.head th {
    color: rgb(255, 255, 255);
    background-color: rgb(157, 191, 255);
    border-bottom: 2px solid rgb(159, 193, 255);
    border-top: 1px solid rgb(166, 197, 255);
    border-right: 1px solid rgb(228, 241, 255);
    text-align: center;
    text-shadow: -1px 1px 1px gray;
    letter-spacing: 0.15em;
}

.head th:first-child {
    border-top-left-radius: 5px;
}

.head th:last-child {
    border-top-right-radius: 5px;
}

td {
    text-shadow: 1px 1px 1px white;
}

/* peaks even olema, kasutatakse th:last-child(even (või odd)), et highlightida vastavad read */
.even td, .even th {
    background-color: aliceblue;
}